on: [push, pull_request]
name: Test
permissions:
  contents: read
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x]
        os: [ubuntu-latest]
        work-dir: ["./", "./v2"]
    runs-on: ${{matrix.os}}
    defaults:
      run:
        working-directory: ${{matrix.work-dir}}
    steps:
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{matrix.go-version}}
    - name: Checkout
      uses: actions/checkout@v4
    - name: Lint
      uses: golangci/golangci-lint-action@v6
      with:
        working-directory: ${{matrix.work-dir}}
    - name: go test
      run: go test -v ./...
    - name: Run example
      run: cd example && go build -o http_breaker && ./http_breaker
