on: [push, pull_request]
name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.21.x, 1.22.x]
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{matrix.go-version}}
    - name: Checkout
      uses: actions/checkout@v2
    - name: gofmt
      run: test -z "`gofmt -l .`"
    - name: golint
      run: test -z "`golint ./...`"
    - name: go test
      run: go test -v ./...
    - name: Run example
      run: cd example && go build -o http_breaker && ./http_breaker
